<div class="container mx-">
  <div class="banner--home mx-5 middle--h">
    <h1>Your Courses 📖</h1>
  </div>

  <div class="container d-flex justify-content-between">
    <div>
      <% @bookings.each do |booking| %>
          <div class="d-flex align-items-start flex-column card--outerbooking">
            <div class="mb-auto p-2 card--innerbooking">
              <h5><%= booking.course.language.name.upcase %>  <%= booking.course.level %> with <strong><%= booking.course.teacher.name %></strong> <br>
              start: <%= booking.course.start_at.strftime("%e-%m-%y at %H.%M") %> <br>
              Topic: <%= booking.course.description%></h5>
            </div>
            <%= link_to "Cancel the Course", booking_path(booking), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to cancel this course?" }, class: 'btn button center mt-2' %>
          </div>
          <br>
      <% end %>
    </div>

    <%= month_calendar do |date| %>
      <%= date.day %>
    <% end %>
  </div>

</div>
