<div class="container">
  <div class="d-flex align-items-center justify-content-center m-5">
    <h1 class= >My Scheduled Courses 📖</h1>
  </div>

  <div class="d-flex align-items-center justify-content-center">
    <div>
      <% @bookings.each do |booking| %>
          <div class="card--outerbooking text-center mt-4">
            <h5><%= booking.course.language.name.upcase %>  <%= booking.course.level %> with <strong><%= booking.course.teacher.name %></strong> <br>
            Course starts <%= booking.course.start_at.strftime("at %H:%M, %e-%m-%Y ") %>

            <div class="container d-flex justify-content-around mt-4">


              <!-- Button trigger modal -->
              <button type="button" class="detailsbtn" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                Course Details
              </button>

              <!-- Modal -->
              <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog"  >
                  <div class="modal-content">
                    <div class="modal-header" style="background-color:#FFB000" >
                      <h1 class="modal-title fs-5" style="color:#004225" id="staticBackdropLabel">Course Details</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <%= booking.course.description %>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="button--cancel--booking center" data-bs-dismiss="modal">Close</button>

                    </div>
                  </div>
                </div>
              </div>
              <!-- Button trigger modal -->
              <button type="button" class="button--cancel--booking center" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Cancel the Course
              </button>

              <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header" style="background-color:#F5F5DC">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm Cancelation</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      Are you sure you want to cancel this course?
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="detailsbtn1" data-bs-dismiss="modal">Close</button>
                      <%= link_to "Confirm", booking_path(booking), data: { turbo_method: :delete }, class: 'button--cancel--booking1 center' %>
                    </div>
                  </div>
                </div>
              </div>
              <%#= link_to "Cancel the Course", booking_path(booking), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to cancel this course?" }, class: 'button--cancel--booking center' %>

            </div>
          </div>
      <% end %>

    </div>
  </div>
</div>

<footer class="footer center mt-4">
  <p>© 2023 Lingoda Copycat 🐈  All rights reserved by Ping-it Team</p>
</footer>
