<div class="container">
  <div class="d-flex align-items-center justify-content-center mb-5">
    <h1 class= >My Scheduled Courses 📖</h1>
  </div>

  <div class="d-flex align-items-center justify-content-center">
    <div>
      <% @bookings.each do |booking| %>
          <div class="card--outerbooking text-center mb-4">
            <h5><%= booking.course.language.name.upcase %>  <%= booking.course.level %> with <strong><%= booking.course.teacher.name %></strong> <br>
            Course starts <%= booking.course.start_at.strftime("at %H:%M, %e-%m-%Y ") %>
            <%= link_to "Cancel the Course", booking_path(booking), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to cancel this course?" }, class: 'button--cancel--booking center mt-2' %>
            <button onclick="toggleDetails(event)" class="dropbtn" id="btn-lang">
              More Details
            </button>
            <div id="myDropdown" class="dropdown-menu text-muted">
              <div class="dropdown-item center"><%= booking.course.description %></div>
            </div>
            <script>
              function toggleDetails(event) {
                event.target.nextElementSibling.classList.toggle("show")
              }
            </script>
          </div>
      <% end %>

    </div>


    <%#= month_calendar do |date| %>
      <%#= date.day %>
    <%# end %>
  </div>


</div>
