<div class="container">
  <div class="container">
    <div class="banner--home mx-5 middle--h">
      <h1 class="">Welcome to Lingoda Copycat 🐈</h1>
    </div>
  </div>
</div>

<div class="container">

  <div class="filters d-flex mx-5 middle--h">

    <i class="fa-solid fa-arrow-down-wide-short ms-3 me-3" style="color: #083f27;"></i>

    <div class="dropdown button--filter">
      <button onclick="myFunction('myDropdown')" class="dropbtn" id="btn-lang">
        <%= params[:query] || "Language" %>
      </button>
      <div id="myDropdown" class="dropdown-content ">
        <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction(event)">
        <% @languages_filtered.each do |language| %>
            <div class="dropdown-item hover-bg center" onclick="applyFilterLang(event)"><%= language %></div>
            <%#= link_to language, root_path(query: language), class: "dropdown-item hover-bg center" %>
        <% end %>
      </div>
    </div>

    <div class="dropdown button--filter">
      <button onclick="myFunction('myDropdown2')" class="dropbtn" id="btn-level">
        <%= params[:level_query] || "Level" %>
      </button>
      <div id="myDropdown2" class="dropdown-content ">
        <input type="text" placeholder="Search.." id="myInput2" onkeyup="filterFunction(event)">
        <% @levels.each do |level| %>
            <div class="dropdown-item hover-bg center" onclick="applyFilterLevel(event)"><%= level %></div>
          <%#= link_to level, root_path(level_query: level), class: "dropdown-item hover-bg center" %>
        <% end %>
      </div>
    </div>

    <%# <button class="btn center button--filter--reset"> %>
    <%= link_to "Reset", root_path, class: "btn center button--filter--reset" %>

    <%# </button> %>
      <script>
        /* When the user clicks on the button,
        toggle between hiding and showing the dropdown content */
        function myFunction(id) {
          document.getElementById(id).classList.toggle("show");
        }

        function filterFunction() {
          let filter, a;
          const input = event.target
          const text = input.value.toUpperCase();

          const dropdown = input.parentElement
          console.log(dropdown);

          const links = Array.from(dropdown.querySelectorAll(".dropdown-item"));
          console.log(links);

          links.forEach(link => {
            if (link.innerText.toUpperCase().indexOf(text) > -1) {
              link.style.display = "";
            } else {
              link.style.display = "none";
            }
          });
        }

        function applyFilterLang(event) {
          const languageElement = document.getElementById("btn-lang");

          // Set the chosen language in the button
          languageElement.innerText = event.target.innerText;

          // Go to query for language AND level
          const urlParams = new URLSearchParams(window.location.search);
          const level = urlParams.get('level_query')

          // Redirect to new query
          window.location.href = `?query=${event.target.innerText}${ level ? '&level_query=' + level : ''}`;
        }

        function applyFilterLevel(event) {
          const levelElement = document.getElementById("btn-level");

          // Set the chosen level in the button
          levelElement.innerText = event.target.innerText;

          // Go to query for language AND level
          const urlParams = new URLSearchParams(window.location.search);
          const language = urlParams.get('query')

          // Redirect to new query
          window.location.href = `?level_query=${event.target.innerText}${ language ? '&query=' + language : ''}`;
        }
      </script>

  </div>

</div>

<div class="container">
  <div class="grid">
    <% @courses.each do |course| %>
      <div class="card card--gallery container">
        <div class="middle--w">
          <% if course.language.name == "Italian" %>
            <div class="image-box mb-3">
              <%= image_tag "italian.png", class: "image-thumbnail", alt: "italian" %>
            </div>
          <% elsif course.language.name == "German" %>
            <div class="image-box mb-3">
              <%= image_tag "german.png", class: "image-thumbnail", alt: "german" %>
            </div>
          <% elsif course.language.name == "Korean" %>
            <div class="image-box mb-3">
              <%= image_tag "korean.png", class: "image-thumbnail", alt: "korean" %>
            </div>
          <% elsif course.language.name == "Japanese" %>
          <div class="image-box mb-3">
            <%= image_tag "japanese.png", class: "image-thumbnail", alt: "japanese" %>
          </div>
          <% elsif course.language.name == "Ukranian" %>
          <div class="image-box mb-3">
            <%= image_tag "ukranian.png", class: "image-thumbnail", alt: "ukranian" %>
          </div>
          <% else %>
            <div class="image-box mb-3">
              <%= image_tag "language.png", class: "image-thumbnail", alt: "language" %>
            </div>
          <% end %>

          <div class="d-flex">
            <h1 > <%= course.language.name %> &nbsp; </h1>
            <h1> <%= course.level %> </h1>
          </div>

          <h4>Teacher <%= course.teacher.name %></h4>
          <h4><%= course.start_at.strftime("%A,") %></h4>
          <h4><%= course.start_at.strftime("%e %B %Y") %></h4>
        </div>
          <%= link_to "Details", course_path(course.id), class: 'button center lower--right m-3' %>
      </div>
    <% end %>
  </div>
</div>

<div class="container">
  <footer>
    <p>© 2023 Lingoda Copycat by Ping it Team</p>
    <p><a href="mailto:contact.soojin.kim@gmail.com">lingodacopycat@pingit.com</a></p>
  </footer>
</div>
