<div class="container">
  <div class="container">
    <div class="banner--home mx-5 middle--h">
    <h1 class="">Hi, <span style="background-color:#004225;color:#F5F5DC">  <%= current_user.nickname %></span>! <br> Welcome to  Lingoda Copycat 🐈</h1>    </div>
  </div>
</div>

<div class="container">

  <div class="filters d-flex mx-5 middle--h">

    <i class="fa-solid fa-filter fa-2x  i--filter"></i>

    <div class="dropdown">
      <button class="btn button--filter dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Language
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <% @courses.each do |course| %>
          <a class="dropdown-item hover-bg " href="#"><%=course.language.name %></a>
        <% end %>
      </div>
    </div>

    <div class="dropdown">
      <button class="btn button--filter dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Level
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <% @courses.each do |course| %>
          <a class="dropdown-item hover-bg center" href="#"><%=course.level %></a>
        <% end %>
      </div>
    </div>

    <div class="dropdown">
      <button class="btn button--filter dropdown-toggle " type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Time
      </button>
    </div>

    <button class="btn center button--filter--green ">
      Reset
    </button>

  </div>
</div>

<div class="container">
  <div class="grid">
    <% @courses.each do |course| %>
        <div class="card card--gallery container">
        <div class="middle--w">
          <div class="d-flex">
            <h1 > <%= course.language.name %> &nbsp; </h1>
            <h1> <%= course.level %> </h1>
          </div>
            <h4>Teacher <%= course.teacher.name %></h4>
            <h4><%= course.start_at.strftime("%B %d, %Y at %-I:%M %p") %></h4>
          </div>
          <%= link_to "Details", course_path(course.id), class: 'button center lower--right m-3' %>
        </div>
    <% end %>
  </div>
</div>
