<div class="container">
  <div class="container">
    <div class="banner--home mx-5 middle--h">
      <h1 class="">Wellcome to Lingoda Copycat!</h1>
      <%=link_to "Logout", root_path, class: "button center" %>
    </div>
  </div>
</div>

<div class="container">

  <div class="filters d-flex mx-5">

    <i class="fa-solid fa-filter $green"></i>

    <div class="dropdown">
      <button class="btn button--filter dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Lenguage
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <% @courses.each do |course| %>
          <a class="dropdown-item" href="#"><%=course.language.name %></a>
        <% end %>
      </div>
    </div>

    <div class="dropdown">
      <button class="btn button--filter dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Level
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <% @courses.each do |course| %>
          <a class="dropdown-item" href="#"><%=course.level %></a>
        <% end %>
      </div>
    </div>

    <div class="dropdown">
      <button class="button--filter " >
        Time
      </button>
    </div>

    <button class="button--filter--green" >
      All
    </button>

  </div>
</div>



<div class="container">

  <div class="grid">
    <% @courses.each do |course| %>
        <div class="card container relativ">
        <div class="middle--w">
          <div class="d-flex">
            <h1 > <%= course.language.name %> &nbsp; </h1>
            <h1> <%= course.level %> </h1>
          </div>
            <h4>Teacher <%= course.teacher.name %></h4>
            <h4><%= course.start_at.strftime("%d/%m/%y %M:%S") %></h4>
          </div>
          <%# course GET    /courses/:id(.:format)  courses#show %>
          <%= link_to "Details", course_path(course.id), class: 'button center lower--right m-3' %>
        </div>
    <% end %>
  </div>
</div>
