<div class="container">
  <div class="container">
    <div class="banner--home mx-5 middle--h">
    <h1 class="">Hi, <span style="background-color: #004225; color: white"> <%= current_user.nickname %> </span>! <br> Welcome to  Lingoda Copycat 🐈</h1>    </div>
  </div>
</div>

<div class="container">

  <div class="filters d-flex mx-5 middle--h">

    <i class="fa-solid fa-arrow-down-wide-short ms-3 me-3" style="color: #083f27;"></i>

    <div class="dropdown button--filter">
      <button onclick="myFunction('myDropdown')" class="dropbtn">Language</button>
      <div id="myDropdown" class="dropdown-content">
        <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
        <% Language.all.pluck(:name).uniq.sort.each do |language| %>
            <%= link_to language, root_path(query: language), class: "dropdown-item hover-bg center" %>
        <% end %>
      </div>
    </div>

    <div class="dropdown button--filter">
      <button onclick="myFunction('myDropdown2')" class="dropbtn">Level</button>
      <div id="myDropdown2" class="dropdown-content">
        <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
        <% ["A1", "A2", "B1", "B2", "C1"].each do |level| %>
          <%= link_to level, root_path(level_query: level), class: "dropdown-item hover-bg center" %>
        <% end %>
      </div>
    </div>

    <button class="btn center button--filter--reset">
          Reset
    </button>
      <script>
        /* When the user clicks on the button,
        toggle between hiding and showing the dropdown content */
        function myFunction(id) {
          document.getElementById(id).classList.toggle("show");
        }

        function filterFunction() {
          var input, filter, ul, li, a, i;
          input = document.getElementById("myInput");
          filter = input.value.toUpperCase();
          div = document.getElementById("myDropdown");
          a = div.getElementsByTagName("a");
          for (i = 0; i < a.length; i++) {
            txtValue = a[i].textContent || a[i].innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
              a[i].style.display = "";
            } else {
              a[i].style.display = "none";
            }
          }
        }
      </script>

  </div>

</div>

<div class="container">
  <div class="grid">
    <% @courses.each do |course| %>
      <div class="card card--gallery container">
        <div class="middle--w">
          <% if course.language.name == "Italian" %>
            <div class="image-box mb-3">
              <%= image_tag "italian.png", class: "image-thumbnail", alt: "italian" %>
            </div>
          <% elsif course.language.name == "German" %>
            <div class="image-box mb-3">
              <%= image_tag "german.png", class: "image-thumbnail", alt: "german" %>
            </div>
          <% elsif course.language.name == "Korean" %>
            <div class="image-box mb-3">
              <%= image_tag "korean.png", class: "image-thumbnail", alt: "korean" %>
            </div>
          <% elsif course.language.name == "Japanese" %>
          <div class="image-box mb-3">
            <%= image_tag "japanese.png", class: "image-thumbnail", alt: "japanese" %>
          </div>
          <% elsif course.language.name == "Ukranian" %>
          <div class="image-box mb-3">
            <%= image_tag "ukranian.png", class: "image-thumbnail", alt: "ukranian" %>
          </div>
          <% else %>
            <div class="image-box mb-3">
              <%= image_tag "language.png", class: "image-thumbnail", alt: "language" %>
            </div>
          <% end %>

          <div class="d-flex">
            <h1 > <%= course.language.name %> &nbsp; </h1>
            <h1> <%= course.level %> </h1>
          </div>

          <h4>with <strong><%= course.teacher.name %></strong></h4>
          <h4>on <%= course.start_at.strftime("%A") %></h4>
          <h4><%= course.start_at.strftime("%e %B %Y") %></h4>
        </div>
          <%= link_to "Details", course_path(course.id), class: 'button center lower--right m-3' %>
      </div>
    <% end %>
  </div>
</div>

<div class="container">
  <footer>
    <p>© 2023 Lingoda Copycat by Ping it Team</p>
    <a href="mailto:contact.soojin.kim@gmail.com">lingodacopycat@pingit.com</a>
  </footer>
</div>
