<div class= "container">
  <div class="img--details  mt-5">
  <%#=  style= "background-image: linear-gradient( rgba(255, 174, 0, 0.52), rgba(255, 174, 0, 0.73)),  url(<%= cl_image_path(@course.photo.key) %>
    <div class=" d-flex justify-content-between">

      <div class="img-container">
        <% if @course.language.name == "Italian" %>
            <%= image_tag "italian.png", class: "image-detail", alt: "italian" %>
          </div>
        <% elsif @course.language.name == "German" %>
            <%= image_tag "german.png", class: "image-detail", alt: "german" %>
          </div>
        <% elsif @course.language.name == "Korean" %>
            <%= image_tag "korean.png", class: "image-detail", alt: "korean" %>
          </div>
        <% elsif @course.language.name == "Japanese" %>
          <%= image_tag "japanese.png", class: "image-detail", alt: "japanese" %>
        </div>
        <% elsif @course.language.name == "Ukranian" %>
          <%= image_tag "ukranian.png", class: "image-detail", alt: "ukranian" %>
        </div>
        <% else %>
            <%= image_tag "language.png", class: "image-detail", alt: "language" %>
          </div>
        <% end %>

        <div class= "text-container">
          <h1><%= @course.language.name.upcase %> with <strong><%= @course.teacher.name %></strong></h1>
          <h5>Level: <strong><%= @course.level %></strong></h5>
          <h5>Course starts:  <strong><%= @course.start_at.strftime("%B %d, %Y at %-I:%M %p") %></strong></h5>
          <h5>Course ends: <strong><%= @course.end_at.strftime("%B %d, %Y at %-I:%M %p") %></strong></h5>
          <h5 >Class detail: <%= @course.description %></h5>
        </div>
      </div>

      <%#= cl_image_tag @course.photo.key, :class => "img--details", height: 600, width: 1000, crop: "fill" %>
      <div class=" d-flex justify-content-between">
        <%=link_to "Back to Courses", courses_path, class: "button--back center mt-5 ms-5" %>

        <!-- Button trigger modal -->
        <button type="button" class="button--cancel--booking1 mt-5 me-5" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          Book it
        </button>

        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog"  >
            <div class="modal-content">
              <div class="modal-header" style="background-color:#FFB000" >
                <h1 class="modal-title fs-5" style="color:#004225" id="staticBackdropLabel">Booking Confirmation</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Are you sure you want to book this course?
              </div>
              <div class="modal-footer">
                <button type="button" class="detailsbtn1" data-bs-dismiss="modal">Close</button>
                <%=link_to "Book it", course_bookings_path(@course), data: { turbo_method: "post"}, class: "button--cancel--booking1 center" %>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="container center mt-5">
  <footer>
    <p>© 2023 Lingoda Copycat 🐈  All rights reserved by Ping-it Team</p>
  </footer>
</div>
